.bonus
  .bonus__overlay.opacity-overlay
    picture.bonus__overlay-firstWoman.hide
      source(media="(min-width: 551px) and (orientation: landscape) and (min-height: 500px)" srcset="img/win-woman-1.png")
      source(media="(min-width: 551px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/win-woman-1.png")
      source(media="(max-width: 550px) and (orientation: portrait)" srcset="img/win-woman-1-mob.png")
      source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/win-woman-1-mob.png")
      img(src="img/win-woman-1.png" alt="Favbet")
    picture.bonus__overlay-secondWoman.hide
      source(media="(min-width: 551px) and (orientation: landscape) and (min-height: 500px)" srcset="img/win-woman-2.png")
      source(media="(min-width: 551px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/win-woman-2.png")
      source(media="(max-width: 550px) and (orientation: portrait)" srcset="img/win-woman-2-mob.png")
      source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/win-woman-2-mob.png")
      img(src="img/win-woman-2.png" alt="Favbet")
    .bonus__overlay-chip.overlayChip-1.hide
    .bonus__overlay-chip.overlayChip-2.hide
    .bonus__overlay-chip.overlayChip-3.hide
    .bonus__overlay-chip.overlayChip-4.hide
    .bonus__overlay-chip.overlayChip-5.hide
    .bonus__overlay-chip.overlayChip-6.hide
    .bonus__overlay-chip.overlayChip-7.hide
    .bonus__firstWin.hide
      .bonus__firstWin-info
        .bonus__firstWin-sum 366% #[span बोनस]
        .bonus__firstWin-title वाह, आपने जीता है:
        .bonus__firstWin-try 1 प्रयास शेष
        .bonus__firstWin-btn.btn अधिक स्पिन करें
    .bonus__secondWin.hide
      .bonus__secondWin-info
        .bonus__secondWin-sum 366% #[span +] 155fs
        .bonus__secondWin-title आप असली स्टार हैं!
        .bonus__secondWin-try रजिस्टर करें, धन राशि जमा करें और बोनस ले जाएं
        a(href="https://tds.mapps.center").bonus__secondWin-btn.btn बोनस ले जाएं
    .bonus__rules.hide
      .bonus__rules-close
      .bonus__rules-txt
        .bonus__rules-txt-title #[span 366%] बोनस + #[span 155fs] कैसे प्राप्त करें?
        ul.bonus__rules-txt-list
          li.bonus__rules-txt-item यदि आप अभी भी हमारे साथ रजिस्टर नहीं है, तो वेबसाइट पर रजिस्टर करें।
          li.bonus__rules-txt-item अपने गेमिंग अकाउंट को 300 INR से टॉप-अप करें।
          li.bonus__rules-txt-item SEVENS&FRUITS गेम (PLAYSON) में 111 मुफ्त स्पिन्स प्राप्त करें।
          li.bonus__rules-txt-item साथ ही, अपनी जमा राशि का 25 000 INR तक का 111% बोनस आपकी प्रतीक्षा कर रहा है।
          li.bonus__rules-txt-item यदि आप 3000 INR से धन राशि जमा करते हैं, तो आपको SEVENS&FRUITS (PLAYSON) गेम में 155 मुफ्त स्पिन्स के साथ-साथ 50 000 INR तक का 155% जमा बोनस प्राप्त होगा।
          li.bonus__rules-txt-item बोनस को माइ अकाउंट के "जमा" सेक्शन में एक्टिवेट किया जाता है।
          li.bonus__rules-txt-item बोनस रजिस्ट्रेशन के समय से 30 दिनों तक मान्य होता है।
          li.bonus__rules-txt-item बोनस को दांव पर लगाने के लिए, आपको बोनस राशि का 35 गुना दांव पर लगाने की आवश्यकता होती है।
          li.bonus__rules-txt-item X35 दांव बोनस राशि और बोनस स्पिन्स दोनों के लिए जमा की जाती है।
        .bonus__rules-txt-info शुभकामनाएं!
  .bonus__main
    .bonus__main-name
      p Deepika Padukone
      p actress
    .bonus__main-logo
    .bonus__main-bubble.
      नमस्कार। मैं दीपिका पादुकोन हूं।#[br]
      क्या आप खेलना चाहते हैं? व्हील स्पिन करें - आपके पास दो मौके हैं। शुभकामनाएं!
    .bonus__main-wrapper
      .bonus__main-txt स्पिन करें#[br] और बोनस #[br] जीतें
      .bonus__main-wheel
        .bonus__main-wheel-wrap
          .bonus__main-wheel-arrow.position
          .bonus__main-wheel-btn.position.pulse-btn
          .bonus__main-wheel-bulbs.position
          .bonus__main-wheel-frame
          .bonus__main-wheel-reel.position
          .bonus__main-wheel-light.position
          .bonus__main-wheel-bottom.position
      picture.bonus__main-woman
        source(media="(min-width: 551px) and (orientation: landscape) and (min-height: 500px)" srcset="img/woman-main.png")
        source(media="(min-width: 551px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/woman-main.png")
        source(media="(max-width: 550px) and (orientation: portrait)" srcset="img/woman-main-mob.png")
        source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/woman-main-mob.png")
        img(src="img/woman-main.png" alt="Favbet")
    .bonus__main-video
      video(muted loop autoplay).bonus__main-video-bg
    .bonus__footer
      .bonus__footer-rules बोनस कैसे प्राप्त करें
  .bonus__chip.chip-1
  .bonus__chip.chip-2
  .bonus__chip.chip-3
  .bonus__chip.chip-4
  .bonus__chip.chip-5
  audio(src='sounds/main.mp3' class='main-audio' loop)
  audio(src='sounds/wheel.mp3' class="wheel-audio")
  audio(src='sounds/popup.mp3' class="popup-audio")
  audio(src='sounds/click.mp3' class="click-audio")
