.banner
    .banner__container
        .banner__text Підтримай #[br] тих, хто #[span підтримує] нас
        .banner__image
            picture
                source(media="(min-width: 1200px)" srcset="img/scarf-desc.png")
                source(media="(min-width: 550px) and (max-width: 1119px)" srcset="img/scarf-tab.png")
                source(media="(min-width: 280px) and (max-width: 549px)" srcset="img/scarf-mob.png")
                img(src="img/scarf-desc.png" alt="Favbet")

