.bonus
  .bonus__overlay.opacity-overlay
    picture.bonus__overlay-firstWoman.hide
      source(media="(min-width: 551px) and (orientation: landscape) and (min-height: 500px)" srcset="img/woman-main.png")
      source(media="(min-width: 551px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/woman-main.png")
      source(media="(max-width: 550px) and (orientation: portrait)" srcset="img/woman-main-mob.png")
      source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/woman-main-mob.png")
      img(src="img/woman-main.png" alt="Favbet")
    picture.bonus__overlay-secondWoman.hide
      source(media="(min-width: 551px) and (orientation: landscape) and (min-height: 500px)" srcset="img/woman-main.png")
      source(media="(min-width: 551px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/woman-main.png")
      source(media="(max-width: 550px) and (orientation: portrait)" srcset="img/woman-main-mob.png")
      source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/woman-main-mob.png")
      img(src="img/woman-main.png" alt="Favbet")
    .bonus__overlay-chip.overlayChip-1.hide
    .bonus__overlay-chip.overlayChip-2.hide
    .bonus__overlay-chip.overlayChip-3.hide
    .bonus__overlay-chip.overlayChip-4.hide
    .bonus__overlay-chip.overlayChip-5.hide
    .bonus__overlay-chip.overlayChip-6.hide
    .bonus__overlay-chip.overlayChip-7.hide
    .bonus__firstWin.hide
      .bonus__firstWin-info
        .bonus__firstWin-sum 150 #[span FS]
        .bonus__firstWin-title ТИ ВИГРАВ ФРІСПІНИ
        .bonus__firstWin-try Залишилась ще 1 спроба
        .bonus__firstWin-btn.btn крути ще
    .bonus__secondWin.hide
      .bonus__secondWin-info
        .bonus__secondWin-sum 4500₴ #[span +] 150fs
        .bonus__secondWin-title ТИ ВИГРАВ
        .bonus__secondWin-try Реєструйся, бонус та фріспіни на твоєму рахунку
        a(href="https://tds.mapps.center").bonus__secondWin-btn.btn Забирай бонус
  .bonus__main
    .bonus__main-logo
    .bonus__main-wrapper
      .bonus__main-txt крути#[br] колесо-#[br] отримуй #[br] #[span бонуси]
      .bonus__main-wheel
        .bonus__main-wheel-wrap
          .bonus__main-wheel-arrow.position
          .bonus__main-wheel-btn.position.pulse-btn
          .bonus__main-wheel-bulbs.position
          .bonus__main-wheel-frame
          .bonus__main-wheel-reel.position
          .bonus__main-wheel-light.position
          .bonus__main-wheel-bottom.position
      picture.bonus__main-woman
        source(media="(min-width: 551px) and (orientation: landscape) and (min-height: 500px)" srcset="img/woman-main.png")
        source(media="(min-width: 551px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/woman-main.png")
        source(media="(max-width: 550px) and (orientation: portrait)" srcset="img/woman-main-mob.png")
        source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/woman-main-mob.png")
        img(src="img/woman-main.png" alt="Favbet")
    .bonus__main-video
      video(muted loop autoplay).bonus__main-video-bg
    .bonus__footer
      .bonus__footer-top
        img(src='img/footer-1.svg' alt='footer')
      .bonus__footer-bottom
        a(href='#').bonus__footer-link.bonus__footer-appStore
          img(src='img/appStore.png' alt='app-store')
        a(href='#').bonus__footer-link.bonus__footer-googlePlay
          img(src='img/googlePlay.svg' alt='google-play')

  .bonus__chip.chip-1
  .bonus__chip.chip-2
  .bonus__chip.chip-3
  .bonus__chip.chip-4
  .bonus__chip.chip-5
