.banner
    .image
    .banner__container
        .banner__row
            .banner__info
                .banner__title WELCOME #[br] #[span BONUS]
                a(href='https://www.favbet.com/en/short-register/').banner__button START THE GAME
                a(href='https://www.favbet.com/promos/promo/new_welcome/').banner__link Terms and conditions
            .banner__dep
                .banner__dep-left
                    .in $ 3000
                    .in $ 3000
                    p $ 3000 #[span deposit bonus]
                    .in $ 3000
                    .in $ 3000
                    .in $ 3000
                    .in.in-none $ 3000
                    .in.in-mob $ 3000
                .banner__dep-right
                    .in $ 60
                    .in.in-mob $ 60
                    .in.in-mob $ 60
                    .in $ 60
                    .in $ 60
                    .in $ 60
                    p $ 60 #[span risk-free]
                    .in $ 60
                    .in.in-last $ 60
                    .in.in-mob $ 60
                    .in.in-mob $ 60
                    .in.in-mob $ 60
